/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8; /* Cambio el color de fondo */
}

.container {
    max-width: 1200px; /* Aumento el ancho máximo */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box; /* Agrego box-sizing para evitar desbordamientos */
}

/* Estilos del encabezado */
header {
    background-color: #ff6f61; /* Cambio el color de fondo */
    color: #fff;
    padding: 20px 0; /* Incremento el padding */
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 36px; /* Aumento el tamaño de fuente */
    color: #fff; /* Color de texto blanco */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10px; /* Agrego margen superior */
}

nav ul li {
    display: inline;
    margin-right: 30px; /* Incremento el margen derecho */
}

nav ul li:last-child {
    margin-right: 0; /* Elimino el margen derecho del último elemento */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px; /* Aumento el tamaño de fuente */
    transition: color 0.3s; /* Agrego transición de color */
}

nav ul li a:hover {
    color: #ffd166; /* Cambio de color al pasar el mouse */
}

/* Estilos de las secciones */
section {
    padding: 50px 0;
    text-align: center;
}

section h2 {
    margin-bottom: 30px; /* Incremento el margen inferior */
    font-size: 28px; /* Aumento el tamaño de fuente */
    color: #ff6f61; /* Cambio de color */
}

/* Estilos del pie de página */
footer {
    background-color: #ff6f61; /* Cambio el color de fondo */
    color: #fff;
    text-align: center;
    padding: 20px 0; /* Incremento el padding */
}

footer p {
    margin: 0;
    font-size: 16px; /* Aumento el tamaño de fuente */
}
